{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/torihiki
        {:git/url "https://github.com/kotoba-lang/torihiki.git"
         :git/sha "eb31c87561863fc9ed4e0a52ccae78e781f46e25"}
        io.github.kotoba-lang/kotoba-ui
        {:git/url "https://github.com/kotoba-lang/kotoba-ui.git"
         :git/sha "80445c9dbafef5402d1aee8409fb6fcfa35cef4d"}}
 :aliases
 {:build {:extra-paths ["script"] :main-opts ["-m" "build"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
